<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel App</title>
</head>

<body>
  <!-- <h1>Hello World!</h1> -->
  <!-- <hia-rooms></hia-rooms> -->
  
  <!-- <hia-container>
    <hia-rooms></hia-rooms>
    <hia-employee></hia-employee>
    <h1>This is from ng-content</h1>
  </hia-container>

  <div #name>

  </div> -->
  <!-- <div>
    <ng-template #user></ng-template>
  </div> -->
  <!--<div [ngSwitch]="role">
    <div *ngSwitchCase="'User'">
      Welcome User!
    </div>  

    <div *ngSwitchCase="'Admin'">
      Welcome Admin!
      <hia-rooms></hia-rooms>
    </div>

    <div *ngSwitchDefault>
      No authorized to view this page!
    </div>
  </div>-->
  <!-- <a [routerLink]="'rooms'">Rooms</a>
  <a [routerLink]="'employee'">Employee</a> -->

  <!-- <router-outlet></router-outlet> -->
  <hia-app-nav></hia-app-nav>
</body>

</html>